.search-container {
    padding: 55px 90px 75px 90px;
}

.search-content {
    padding: 66px 95px 40px 95px;
}

.card-base {
    background: #E6F7FF;
}

.search-text-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    margin-top: 0px;
    margin-bottom: 12px;
}

.search-input {
    width: 676px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
}