.search-container {
    padding: 55px 90px 75px 90px;
}

.search-content {
    padding: 66px 95px 40px 95px;
    margin-bottom: 55px;
    border-radius: 16px;
    background: #e6f7ff;
}

.result-content {
    padding: 24px 24px 27px 30px;
    border-radius: 8px;
    background: #f5f5f5;
}

.search-text-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    margin-top: 0px;
    margin-bottom: 12px;
}

.search-input {
    width: 676px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.info-container {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
}

.statistics-container {
    display: flex;
    gap: 8px;
    margin-bottom: 13px;
}

.image {
    margin-right: 45px;
}

.statistics {
    padding: 1px 14px 1px 14px;
    margin-top: 0;
    margin-bottom: 0;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
}
