@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
}

a {
  text-decoration: none;
}

input {
  &:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

button {
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}
